@import "./colors.sass"
@import "./mixins.sass"
@import "./breakpoints.sass"
// Original Mila buttons from style guide
// when using these button classes on  <FlatButton /> add hoverColor='none' attribute

// button-large only to be used on light background $grey or $steelC
.btn-l
  border: 2px solid $steelB !important
  border-radius: 30px !important
  height: 60px !important
  width: 240px
  span
    +f(15px !important)
    +mont-reg($blueA)
  &:hover
    background-color: none !important
    border-color: $greenA !important
    span
      color: $greenA

// button-large-alternative ONLY to be used on backgrounds Mila green
.btn-l-a
  // border: 2px solid $steelB !important
  background-color: $greyB !important
  border-radius: 30px !important
  height: 60px !important
  width: 240px
  box-shadow: 0px 4px 10px 0px rgba(41,47,54,0.2)
  span
    +f(15px !important)
    +mont-reg($blueA)
  &:hover
    border: 2px solid $greenB !important
    box-shadow: 0px 2px 5px 0px rgba(41,47,54,0.2)
    span
      color: $greenA

// button-small-light ONLY to be used on Light backgrounds
.btn-s
  border: 2px solid $steelB !important
  border-radius: 25px !important

  height: 40px !important
  width: 175px
  span
    +f(13px !important)
    +mont-reg($blueA)
  &:hover
    background-color: none !important
    border-color: $greenA !important
    span
      color: $greenA

// button-small-alternative ONLY to be used on backgrounds Mila green
.btn-s-a
  // border: 2px solid $steelB !important
  background-color: $greyB !important
  border-radius: 30px !important
  height: 40px !important
  width: 175px
  box-shadow: 0px 4px 10px 0px rgba(41,47,54,0.2)
  span
    +f(13px !important)
    +mont-reg($blueA)
  &:hover
    border: 2px solid $greenB !important
    box-shadow: 0px 2px 5px 0px rgba(41,47,54,0.2)
    span
      color: $greenA

// button-small-dark ONLY to be used on Light backgrounds
.btn-s-d
  border: 2px solid $blueC !important
  border-radius: 25px !important
  height: 40px !important
  width: 175px
  span
    +f(13px !important)
    +mont-reg($greyB)
  &:hover
    background-color: none !important
    border-color: $greenA !important
    span
      color: $greenA

// MY BUTTONS CREATIONS
.btn-green
  width: 150px
  height: 45px !important
  border-radius: 30px !important
  background-color: $greenA !important
  span
    +mont-light
    color: $steelC !important
    font-size: 13px !important

.btn-grey
  width: 150px
  height: 45px !important
  border-radius: 30px !important
  background-color: $steelC !important
  border: 1px solid $border1 !important

.btn-grey-wide
  width: 225px
  height: 50px !important
  border-radius: 30px !important
  background-color: $steelB !important
  border: 1px solid $border1 !important
  +breakpoint($brp-m)
    &:hover
      border: 2px solid $greenA !important
      span
        color: $greenA !important

.btn-green-modal
  width: 225px
  border: 2px solid $border1 !important
  height: 50px !important
  border-radius: 30px !important
  &:hover
    border-color: $greenA !important
    span
      color: $greenA !important
  span
    +mont-light
    color: $blueA !important
    font-size: 14px !important

.btn-grey-modal
  width: 225px
  height: 50px !important
  border-radius: 30px !important
  span
    +mont-light
    color: $blueA !important
    font-size: 14px !important
