@import "./colors.sass"
@import "./mixins.sass"

.btn-green
  width: 150px
  height: 45px !important
  border-radius: 30px !important
  background-color: $greenA !important
  span
    +mont-light
    color: $steelC !important
    font-size: 13px !important

.btn-grey
  width: 150px
  height: 45px !important
  border-radius: 30px !important
  border: 1px solid $border1 !important
