@import "./breakpoints"

.app
  .content
    +breakpoint($brp-xl)
      display: flex
      justify-content: space-around

  .content-drawer-open-desk
    +breakpoint($brp-m)
      padding-left: 224px
