@import "./breakpoints"

.app
  .content
    +breakpoint($breakpoint-xlarge)
      display: flex
      justify-content: space-around

  .content-drawer-open-desk
    +breakpoint($breakpoint-medium)
      padding-left: 224px
