@import "../assets/styles/base/colors.sass"
@import "../assets/styles/base/mixins.sass"
@import "../assets/styles/base/breakpoints.sass"

.add-list-holder
  background-color: $steelC
  margin-bottom: 5px
  border-radius: 2px

.list-item-wrapper
  background-color: $steelC
  
  .list-item-holder
    border-bottom: 1px solid $border1
    padding-top: 10px
    padding-bottom: 5px
    margin-bottom: 5px
    .list-title
      display: flex
      justify-content: center
      .list-icon
        position: relative
        bottom: 4px
        right: 10px

    .list-btns
      display: flex
      justify-content: space-around
