@import "../assets/styles/base/colors.sass"
@import "../assets/styles/base/mixins.sass"
@import "../assets/styles/base/breakpoints.sass"

.settings-list-wrapper

  .pagetitle-list-wrapper
    text-align: center
    padding: 15px 0
  .editnetworklist-list-wrapper
    background-color: $steelC
