@import "../assets/styles/base/breakpoints.sass"

.table-head

  .tr-1st-row

    .th-top-col

  .tr-2nd-row

    .th-name-email
      // border-right: black solid 1px
      text-align: center !important

    .th-company
      // border-right: black solid 1px
      display: none
      @include breakpoint($breakpoint-land)
        display: table-cell

    .th-emails
      display: none
      @include breakpoint($breakpoint-medium)
        display: table-cell

// end of table head

// table body
.tablebody
  display: none
  .col-avatar
    // border: black solid 1px
    width: 60px
    padding-left: 0 !important
    padding-right: 0 !important

  .col-name-email
    // border: black solid 1px

  .col-company
    display: none
    @include breakpoint($breakpoint-land)
      // border: black solid 1px
      display: table-cell
