@import "../assets/styles/base/breakpoints.sass"

.th-top-row
  text-align: left !important

.th-name-email

.th-company, .td-company
  display: none
  @include breakpoint($breakpoint-land)
    display: inline-block

.col-avatar
  padding-left: 0px !important
  padding-right: 0px !important
  width: 60px
