@import "../assets/styles/base/breakpoints.sass"
@import "../assets/styles/base/colors.sass"



.network-but-container
  max-width: 1440px
  display: none
  text-align: center
  button
    div
      background-color: $steelB
  +breakpoint($breakpoint-medium)
    display: flex
    +breakpoint($breakpoint-xlarge)
      margin: auto
