@import "../assets/styles/base/breakpoints.sass"
@import "../assets/styles/base/colors.sass"

.onboarding-container
  background-color: $greenA

// .onboarding-card
//   margin: 5% 30%
//   width: 40%

// .stepper-main
//   display: block !important
//   @include breakpoint($breakpoint-medium)
//     display: inline-block !important
//
// .steplabel
//     font-weight: 300 !important

//   display: block
// @include breakpoint($breakpoint-medium)
//   display: block
// .onboarding-card
//   div
//     div
//       div
//         div
//           display: block !important

.stepper-1
  display: block !important

.step-content
  background-color: $greenA
  color: #fff
  text-align: center
  padding: 5%
  h1
    color: #fff
