@import "../assets/styles/base/breakpoints.sass"
@import "../assets/styles/base/colors.sass"
@import "../assets/styles/base/mixins.sass"

// OnboardingStepper class component
.stepper-wrapper
  height: 100%
  width: 100%
  margin: auto
  margin-top: 20px
  padding-top: 30px
  padding-bottom: 40px
  background-color: $greyB
  +breakpoint($breakpoint-medium)
    padding: 0
    margin-top: 0
    background-color: $greenA

.steplabel
  +f(16px !important)
  +mont-reg($blueA !important)
  +breakpoint($breakpoint-medium)
    +f(13px !important)

.onboarding-next
  margin-top: 40px
  +breakpoint($breakpoint-medium)
    display: flex
    justify-content: center
    margin: 60px 0
  .btn-desktop
    +breakpoint($breakpoint-medium)
      border: 2px solid $greyB !important
      width: 275px
