// importing basestyles for green & grey button
@import "../assets/styles/base/basestyles.sass"

@import "../assets/styles/base/breakpoints.sass"
@import "../assets/styles/base/colors.sass"
@import "../assets/styles/base/mixins.sass"

// OnboardingStepper class component
.stepper-wrapper
  height: 100%
  width: 100%
  margin: auto
  margin-top: 20px
  padding-top: 30px
  padding-bottom: 40px
  background-color: $greyB

.steplabel
  font-size: 16px !important
  +mont-reg($blueA !important)

.onboarding-next
  margin-top: 40px

// from /.ProceedWarning.js
.warning-holder
  display: flex
  justify-content: center
  .proceed-warning
    background-color: $blueA;
    padding: 6px 20px;
    border-radius: 7px;
    +mont-light($greyB)
    +f(12px)

.startsorting-holder
  +mont-light($blueA)
  +f(15px)
