@import "../assets/styles/base/colors.sass"
@import "../assets/styles/base/breakpoints.sass"
// doenst work yet


.delete-button-network-desk
  display: none
  +breakpoint-medium
    display: flex !important
    flex-direction: row !important
    justify-content: flex-end !important

.delete-button-network-mob
