@import "../assets/styles/base/colors.sass"
@import "../assets/styles/base/mixins.sass"
@import "../assets/styles/base/breakpoints.sass"

.drawer-menu-wrapper
  justify-content: space-between
  flex-direction: column
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex

  .top-menu-holder

    .menu-item
      


      .trial-item
        text-align: center
        border: 1.5px solid black
        border-radius: 3px

  .bot-menu-holder

    .menu-item
