@import "../assets/styles/base/colors.sass"
@import "../assets/styles/base/mixins.sass"
@import "../assets/styles/base/breakpoints.sass"

.nav-bar
  .appbar
    background-color: $blueA !important
    padding: 0 0 !important
    height: 70px !important
    justify-content: space-between
    +breakpoint($breakpoint-medium)
      padding: 0 20px !important

  .left-icon-wrap
    width: 65px
    .hamburger
      padding: 14px 12px 13px 12px

    // MilaLogo.js   Component
  .wrapper-logo
    padding: 21px
    line-height: 0px
    .logo-mila
      width: 90px !important

  .right-icons-wrap
    .username-holder
      +mont-light($steelC)
      +f(16px)
      padding: 26px 6px
    .wrap-icon-blue
      background-color: $blueB
      width: 65px
      height: 70px
      .user-blue
        width: 35px
        height: 35px
        border-radius: 20px
        margin: 17px 15px
    +breakpoint($breakpoint-medium)
      display: flex
