.nav-bar
  padding: 0 30px 20px !important
  height: 60px !important
.wrapper-logo
  display: inline-block !important
  margin: 0 !important
  padding: 10px 0 0 16px !important
  .logo-mila
    width: 77px !important

