@import "../assets/styles/base/colors.sass"
@import "../assets/styles/base/mixins.sass"
@import "../assets/styles/base/breakpoints.sass"

.edit-list-field-holder
  padding: 5px 0

// NetworkListFrom rendered in EditNetworkList.js component
.edit-list-btnholder
  display: flex
  justify-content: center
  padding: 15px 0
