@import "../assets/styles/base/colors.sass"
@import "../assets/styles/base/mixins.sass"
@import "../assets/styles/base/breakpoints.sass"

// imported in SettingsAccount.js // .settings-list-title == imported in SettingsList.js
.settings-account-title, .settings-list-title
  h2
    +mont-light($steelC)
    +f(21px)
    margin-bottom: 10px
    font-weight: 100
    text-align: center
  h3
    +mont-light($steelC)
    +f(14px)
    margin-top: 0px
    font-weight: 100
    text-align: center

// imported in Network.js
.network-page-title
  h2
    +mont-light($steelC)
    +f(26px)
    text-align: center
    padding: 50px 0
    font-weight: 100
