@import "../assets/styles/base/colors.sass"
@import "../assets/styles/base/mixins.sass"
@import "../assets/styles/base/breakpoints.sass"

.settings-account-title
  h2
    +mont-light($steelC)
    +f(21px)
    margin-bottom: 10px
    font-weight: 100
  h3
    +mont-light($steelC)
    +f(14px)
    margin-top: 0px
    font-weight: 100
