@import "../../assets/styles/base/colors.sass"
@import "../../assets/styles/base/mixins.sass"
@import "../../assets/styles/base/breakpoints.sass"

.contact-details-holder
  flex: 1 0 0

  .contact-details
    display: flex
    .details-form
      flex: 0 0 100%
      display: flex
      flex-wrap: wrap

      .detail-item1
        +mont-light($blueA !important)
        flex: 1 0 50%
      .detail-item2
        flex: 1 0 50%
      .detail-item3, .detail-item4
        flex: 1 0 100%

      .detail-item5
        flex: 1 0 100%
        p
          margin: 0px 0px
