@import "../../assets/styles/base/colors.sass"
@import "../../assets/styles/base/mixins.sass"
@import "../../assets/styles/base/breakpoints.sass"

.done-sort-holder
  display: flex
  justify-content: center
  flex-wrap: wrap
  padding: 5px
  .done-sort-title
    color: $steelC
    text-align: center
  .done-card
    border-radius: 3px
    height: 190px
    flex: 0 0 100%
    background-color: $greenC
  .button-holder
    display: flex
    justify-content: center
    flex-wrap: wrap
    .my-network
      margin: 35px 0 !important
