@import "../../assets/styles/base/colors.sass"
@import "../../assets/styles/base/mixins.sass"
@import "../../assets/styles/base/breakpoints.sass"

.navigate-contacts-holder
  .button-contact-navigate
    position: absolute
    right: 0

  .button-contact-navigatez
    position: absolute
    left: 0
