@import "../../assets/styles/base/colors.sass"
@import "../../assets/styles/base/mixins.sass"
@import "../../assets/styles/base/breakpoints.sass"

.navigate-contacts-holder
  .contact-navigate-next
    position: absolute
    right: 0

  .contact-navigate-prev
    position: absolute
    left: 0
