@import "../../assets/styles/base/colors.sass"
@import "../../assets/styles/base/mixins.sass"
@import "../../assets/styles/base/breakpoints.sass"
.global-wrapper
  display: flex
  position: relative
  justify-content: space-around
  overflow: hidden
  +breakpoint($brp-xl)
    flex: 0 0 100%
  .sort-contact-wrapper
    display: flex
    flex-wrap: wrap
    padding: 5px

    .progress-indicator-wrapper
      display: flex
      flex-wrap: wrap
      flex: 0 0 100%
      justify-content: center
      .progress-indicator-holder
        display: flex
        flex: 0 0 100%
        padding-top: 10px
        padding-bottom: 15px
        div
          height: 6px !important
        +breakpoint($brp-land)
          flex: 0 0 420px
          div
            height: 7px !important

    .contact-card-wrapper
      display: flex
      flex: 0 0 100%
      +breakpoint($brp-land)
        flex: 0 0 435px
        display: flex
        justify-content: center

    .delete-card-wrapper
      display: flex
      margin-bottom: 20px
      +breakpoint($brp-land)
        justify-content: center

      .delete-card-holder
        display: flex
        border-radius: 4px
        height: 190px
        justify-content: center
        padding: 0 5px 5px
        +breakpoint($brp-land)
          flex: 0 0 420px
        .delete-card
          background-color: $greenC
          padding: 42px
          color: $greyB
          text-align: center
          h2
            +mont-bold($greyB)
            +f(32px)
            margin-bottom: 0
            letter-spacing: 0.8px
          p
            +mont-light($greyB)
            +f(14px)

    .network-lists-wrapper
      flex: 0 0 100%
      display: flex
      justify-content: center

    .delete-btn-wrapper
      padding: 35px 0
      display: flex
      justify-content: center
      flex: 0 0 100%

      .delete-btn
        width: 225px
        color: $greyB !important

        span
          +f(12px !important)
          text-transform: none !important
          padding-right: 6px !important
          +mont-light($greyB)
          &:hover
            text-decoration: underline
        .not-icon
          color: $greyB !important
          position: absolute
          left: 23px
          top: 12px
          width: 14px !important
          height: 14px !important

    .snackbar
      div
        text-align: center
        +mont-light($steelC)

  .future-wrapper, .past-wrapper
    +breakpoint($brp-xl)
    z-index: 10
    border-radius: 4px
    cursor: pointer
    justify-content: center
    display: flex
    position: absolute
    padding-top: 49px
    width: 500px
    height: 82%
    background-color: $blueB
    opacity: 0.4
    top: 50px
    right: -225px

    .contact-card-paper
      opacity: 0.5
      border-radius: 3px
      display: flex
      flex: 0 0 425px
      height: 190px
      max-width: 425px
      .details-holder
        display: flex
        flex-wrap: wrap
        p
          margin: 0
        .details
          display: flex
          flex: 0 0 320px
          flex-wrap: wrap
          p
            margin: 0
          .par1, .par2
            flex: 0 0 160px
          .par3
            flex: 0 0 320px
          .par4
            flex: 0 0 320px
        .avatar-holder
          width: 100px
          height: 100px
        .email-adress
          flex: 0 0 100%
        .email-header
          background-color: $steelB
  .past-wrapper
    left: -225px

  .footer-holder
    +breakpoint($brp-m)
    display: flex
    justify-content: center
    height: 125px
    background-color: $greenB
    position: fixed
    bottom: 0
    width: 100%
    .hint-text
      padding: 38px 50px
      +mont-light($steelC)
      +f(14px)
