@import "../../assets/styles/base/colors.sass"
@import "../../assets/styles/base/mixins.sass"
@import "../../assets/styles/base/breakpoints.sass"

.sort-contact-wrapper
  display: flex
  flex-wrap: wrap

  .progress-indicator-wrapper
    flex: 0 0 100%
    +breakpoint($brp-m)
      display: flex
      flex-wrap: wrap
      margin-bottom: 15px

    .progress-indicator-holder
      padding: 10px 15px 15px
      margin-bottom: 10px
      +breakpoint($brp-m)
        flex: 0 0 625px
        margin: auto

  .contact-card-wrapper
    display: flex
    margin-bottom: 20px
    +breakpoint($brp-land)
      justify-content: center

  .network-lists-wrapper
    flex: 0 0 100%
    display: flex
    justify-content: center

  .delete-wrapper
    padding: 35px 0
    display: flex
    justify-content: center
    flex: 0 0 100%

    .delete-btn
      width: 225px
      color: $greyB !important
      // border: 1px solid red !important

      span
        +f(12px !important)
        text-transform: none !important
        padding-right: 6px !important
        +mont-light($greyB)
        &:hover
          text-decoration: underline
      .not-icon
        color: $greyB !important
        position: absolute
        left: 23px
        top: 12px
        width: 14px !important
        height: 14px !important

  .snackbar
    div
      text-align: center
      +mont-light($steelC)

  .footer-holder
    height: 125px
    background-color: $greenB
    position: absolute
    bottom: 0
    width: 100%
    .hint-text
      text-align: center
      padding: 38px 50px
      +mont-light($steelC)
      +f(14px)
