@import "../assets/styles/base/colors.sass"
@import "../assets/styles/base/mixins.sass"
@import "../assets/styles/base/breakpoints.sass"

.container
  position: relative
  @include breakpoint($breakpoint-land)
  display: flex
  justify-content: center
  align-items: center

  .contact-card-element
    width: 100%
    position: relative
    margin-bottom: 10px
    @include breakpoint($breakpoint-land)
      max-width: 60%

    .contact-card
      display: flex
      flex-wrap: wrap
      flex-direction: row

      .contact-card-input
        width: 100%
        @include breakpoint($breakpoint-small)

      .contact-card-row-top,
      .contact-card-row-bottom
        display: flex
        flex-wrap: nowrap

        .contact-card-firstname,
        .contact-card-lastname
          max-width: 30%
          padding-left: 10px

      .contact-card-inputfield
        max-width: 30%
        padding-left: 10px

      .contact-card-inputfield:last-child
        max-width: 100%
        padding-left: 10px

    .contact-card-avatar
      height: 80px
      width: 80px
      position: absolute
      right: 0
      @include breakpoint($breakpoint-land)
        height: 100px
        width: 100px
        @include breakpoint($breakpoint-medium)
          height: 120px
          width: 120px

      .social-media-bar
        background-color: rgba(41, 47, 54, 0.7)
        position: absolute
        bottom: 0
        height: 30%
        width: 100%
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center

      .social-media-bar a
        color: $steelB
        text-decoration: none

      .social-media-bar a:first-child
        padding-right: 20px

      .social-media-bar a:last-child
        padding-left: 20px

    .contact-card-message
      background-color: $steelC
      padding: 10px 10px

  .button-contact-navigate
    position: absolute
    right: 0

  .contact-card-image img
    height: 120px
    width: 120px
