@import "../assets/styles/base/colors.sass"
@import "../assets/styles/base/mixins.sass"
@import "../assets/styles/base/breakpoints.sass"

.container

  .contact-card-element
    width: 100%
    position: relative

    .contact-card
      display: flex
      flex-wrap: wrap
      flex-direction: row
      padding-left: 4%

      .contact-card-row-top,
      .contact-card-row-bottom
        display: flex
        flex-wrap: nowrap

        .contact-card-firstname,
        .contact-card-lastname,
        .contact-card-inputfield
          max-width: 30%

    .contact-card-avatar
      height: 40%
      width: auto
      position: absolute
      right: 0

    .social-media-bar
      background-color: rgba(41, 47, 54, 0.7)
      position: absolute
      bottom: 0
      height: 30%
      width: 100%
      display: flex
      flex-direction: row
      align-items: center
      justify-content: center

    .social-media-bar a
      color: $steelB
      text-decoration: none

    .social-media-bar a:first-child
      padding-right: 20%

    .social-media-bar a:last-child
      padding-left: 20%

  .icon-button
