@import "../assets/styles/base/colors.sass"
@import "../assets/styles/base/mixins.sass"
@import "../assets/styles/base/breakpoints.sass"

// sass for Plugin comp rendered on SettingsAccount.js comp
.plugin-holder
  border-radius: 2px
  background-color: $steelC
  display: flex
  justify-content: center
  flex-flow: row wrap
  padding-bottom: 20px
  margin-bottom: 5px
  .btn-holder
    display: flex
    justify-content: space-between
    flex: 0 0 90%
  .plugin-text
    padding: 25px 5px
    margin: 0px 0px
    +mont-light()
    +f(15px)
