@import "../assets/styles/base/colors.sass"
@import "../assets/styles/base/mixins.sass"
@import "../assets/styles/base/breakpoints.sass"

.settings-account-wrapper
  padding: 0px 5px
  .page-title-holder
    text-align: center

  .plugin-wrapper
    display: flex

  .secure-server-wrapper
    
