@import "../assets/styles/base/colors.sass"
@import "../assets/styles/base/mixins.sass"
@import "../assets/styles/base/breakpoints.sass"

.settings-account-wrapper
  padding: 0px 5px
  .page-title-holder
    text-align: center

  .settings-account-content

    padding: 10px 0px

.plugin-wrapper
