@import "../assets/styles/base/colors.sass"
@import "../assets/styles/base/mixins.sass"
@import "../assets/styles/base/breakpoints.sass"

.settings-account-wrapper
  padding: 0px 5px
  display: flex
  flex-wrap: wrap

  .page-title-wrapper
    display: flex
    flex: 1 100%
    justify-content: center
    +breakpoint($breakpoint-medium)
      order: 1

  .user-details-wrapper
    flex: 1 100%
    margin-bottom: 5px
    +breakpoint($breakpoint-medium)
      order: 2

  .plugin-wrapper
    flex: 1 100%
    margin-bottom: 5px
    +breakpoint($breakpoint-medium)
      order: 4

  .secure-server-wrapper
    margin-bottom: 5px
    +breakpoint($breakpoint-medium)
      order: 3
